{% extends 'WebApp/header.html' %}


{% block content %}
<!-- Search boxes -->
<!-- <div class="search-box">
<i class="fas fa-chevron-circle-left"></i>
<span class="line"/>

<i class="fas fa-chevron-circle-right"></i>
</div> -->
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width slides/quotes -->
  <div class="mySlides">
      <a href"#"><h1>Search by School</h1></a>
  </div>

  <div class="mySlides">
    <a href"#"><h1>Search by Hall</h1></a>
  </div>

  <div class="mySlides">
    <a href"#"><h1>Write a Review</h1></a>

  </div>
  <!-- Next/prev buttons -->
  <a class="prev" onclick="plusSlides(-1)"><i class="fas fa-chevron-circle-left fa-5x"></i></a>
  <a class="next" onclick="plusSlides(1)"><i class="fas fa-chevron-circle-right fa-5x"></i></a>
</div>
<hr class="line"/>
<hr class="line-2"/>
<!-- Dots/bullets/indicators -->
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

 <hr/>

 <h3 id="review-title">Recent Reviews</h3>

<br/>
    <div class="row">
      <div class="col-md-3">
        <h4>Amy<h4>
          <h5>University of Wisconsin Madison</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="text-center">
        <img src="https://placeimg.com/240/200/any" class="rounded" alt="picture">
      </div>
    </div>
    <div class="col-md-3">
      <h4>Zachary<h4>
        <h5>Technical Down Syndrome College</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="text-center">
      <img src="https://placeimg.com/240/200/any" class="rounded" alt="picture">
    </div>
  </div>
  <div class="col-md-3">
    <h4>Papa<h4>
      <h5>Slave Technical University</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="text-center">
    <img src="https://placeimg.com/240/200/any" class="rounded" alt="picture">
  </div>
</div>
<div class="col-md-3">
  <h4>Samir<h4>
    <h5>Plantation Univercidad</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <img src="https://placeimg.com/240/200/any" class="rounded" alt="picture">
</div>

    </div>

    <!-- quote box -->
        <div id="quote">
        <q>Don't let your dorm take away your college experience</q>
        <p><i>(Zach Miller, Class of 2020, Mankato State University)</i></p>
      </div>
          <!--quote box end -->

  <!-- <div class="container" >
    <div class="row" id="review_boxes">
      <div class="col-md-3" id="box_1">
        <h3><a href="#">Recent Reviews</a></h3>

      </div>
      <div class="col-md-3" id="box_2">
        <h3><a href="#">Best Dorms Ranking</a></h3>
        <ol class="dorm_ranking">
          <li>Graz Hall - Washington University in St. Louis</li>
          <li>Molester Hall - Harvard University</li>
          <li>Miller Hall - Mankato State University</li>
          <li>Do Hall - Ricardo State University</li>
          <li>Negro Hall - South Side University</li>
          <li>Lopez Hall - Cocaine Technical University</li>
          <li>Frempong Hall - Slave Academy West Point</li>
      </div>
      <div class="col-md-6" id="box_3">
        <h3><a href="#">Dorm of the Month</a></h3>
          {% load staticfiles %}
          <img src="{% static 'dorm_month.jpg' %}" alt="Dorm of the Month" class="dorm_month">

      </div>
    </div>
  </div> -->
  <!-- quote box -->
      <!-- <div id="quote">
      <h2>"Don't let your dorm take away your college experience" - Zach Miller </h2>
      <p ><i>(Class of 2020, Mankato State University)</i></p>
    </div> -->
        <!--quote box end -->



<script>
showSlides(slideIndex);
</script>

{% endblock %}
