{% extends 'WebApp/header.html' %}

{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  {% include 'WebApp/snippets/bootstrap_form.html' with form=form %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$('#id_college').on("change", function(){
	$.get("filter_dorms/"+$('#id_college').val(),
		function (data){
			$('#id_dorm').html(data);
		}
	, "html")
});

$('#id_dorm').on("change", function(){
	$.get("get_college/"+$('#id_dorm').val(),
		function (data){
			$('#id_college').html(data);
		}
	, "html")
});

</script>

{% endblock %}