body {
  background-image: url("dorm_good-min.png");
  background-size:cover;
  overflow-x: hidden;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  margin-left: 30px;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color:	#fbc8b7;
  font-weight: bold;
  color: #fefefe;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.fa-bars {
  color: #ffffff;
}
.fa-bars:hover {
  color:#fbc8b7;
}
.icon {
  color: #fefefe;
  position: relative;
  left: 87%;
  bottom: 9%
}
.fa-facebook-square:hover {
    color: #fbc8b7;
}
.fa-twitter-square:hover {
    color: #fbc8b7;
}
.fa-instagram:hover {
    color: #fbc8b7;
}
.fa-snapchat-square:hover{
    color: #fbc8b7;
}
.head_title{
  color: #333333;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 75px;
  font-weight: normal;
  text-align: center;
  margin-top: -5%;
}
.search_title {
  margin-top: -2%;
  color: #333333;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  background-color: #fbc8b7;
  padding-bottom: 5%;
}

#search_box{
  background-color:	#fbc8b7;
  padding: 64px;
}

.thumbnail_overlay {
  position: relative;
  width: 60%;
  left: 20%;


}
.image_thumb {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #b20000;
  overflow: hidden;
  width: auto;
  height: 0;
  transition: .5s ease;
}
.thumbnail_overlay:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text_thumb {
  white-space: nowrap;
  color: #fefefe;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
}
h4 {
  font-family: 'Jua', sans-serif;
}
#quote {
  background-color: #fefefe;
  width: auto;
  padding: 64px;
  text-align: center;
}
#review_boxes {
  padding-top: 50px;
  text-align: center;
}

#box_1{
  background-color: #fef3f1;
}
#box_2{
  background-color: #fbc8b7;
}
li {
  padding-bottom: 20px;
}
#box_3{
  background-color: #fef3f1
}
.dorm_month{
  width: 80%;
}
